<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setContent(content)">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<header>
    <nav id="nav2" style="display: flex;padding: 10px 15px;">
        <h1 style="font-family: 'Malgun Gothic', sans-serif; font-size: 24px; font-weight: bold; color: #000000; margin-top: 0; margin-bottom: 0;" >Ownote</h1>
        <div class="logo image-link">
        <a th:href="@{/}">
            <img class="logo_image" src="/image/logo.png" alt="logoIcon">
        </a>
        </div>
        <div class="navbar-menu" th:if="${authInfo == null}">
            <a th:href="@{/emp/logIn}">로그인</a>
        </div>
        <div class="navbar-menu" th:if="${authInfo != null}">
            <!-- authInfo가 null이 아닐 때만 이 부분이 렌더링됩니다 -->
            <img class="user_image" src="/image/usericon.png" alt="userIcon"><a th:href="@{/emp/myPage}">[[${authInfo.emp_name}]]</a>| &nbsp
            <a th:href="@{/logout}">로그아웃</a>
        </div>
    </nav>
</header>
  <aside class="side-bar">
      <ul>
          <li th:if="${authInfo != null}">

              <a th:if="${authInfo.dept_num == 40}" th:href="@{/emp/signUp}">사원 등록</a>

          </li>
          <li th:if="${authInfo != null}">
              <a th:href="@{#}">근태</a>
              <ul>
                  <li th:if="${authInfo.dept_num == 40}"><a th:href="@{/attendance/list1}">근태 관리</a></li>
                  <li><a th:href="@{/attendance/record}">출근/퇴근</a></li>
              </ul>
          </li>
          <li>
              <a th:href="@{#}">연차</a>
              <ul>
                  <li><a th:href="@{/annual/write}">연차 신청 </a></li>
                  <li><a th:href="@{/annual/anndata}">연차 확인</a></li>
                  <li th:if="${authInfo != null}">
                      <a th:if="${authInfo.grade_num >= 3}" th:href="@{annual/list}">연차 승인</a>

                  </li>
                  <li><a th:href="@{#}">연차 수정 신청</a></li>
              </ul>
          </li>
          <li>
              <a th:href="@{/board/boardmain}">게시판</a>
              <ul>
                  <li><a th:href="@{/board/noticeList}">회사뉴스 및 공지</a></li>
                  <li><a th:href="@{/board/forumList}">자유게시판</a></li>
                  <li><a th:href="@{/board/qaList}">사내시스템 / F&Q</a></li>
              </ul>
          </li>
          <li>
              <a th:href="@{/club/list}">동아리</a>
          <li>
              <a th:href="@{/emp/adress}">주소록</a></li>
      </ul>

  </aside>
<script src="https://kit.fontawesome.com/2d323a629b.js" crossorigin="anonymous"></script>

<div class="content">
<th:block th:replace="${content}">
    <!-- 실제 컨텐츠 위치 -->
</th:block>
</div>
</body>
</th:block>
</html>
