<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>글 수정</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/boardwrite.css">
</head>
<body>

<div class="write_wrap">
<form th:action="@{/board/boardupdate/{boardNum}(boardNum=${board.boardNum})}" method="post">
    <input type="hidden" id="boardNum" name="boardNum" th:value="${board.boardNum}" />
        <div>
            <div>
                <div class="boardTitle">
                    <strong>제목</strong>
                    <br>
                    <th:block th:if="${board.hierarchyNum > 0}">
                        <input class="input_css" type="text" name="boardTitle" th:value="${board.boardTitle}" readonly="readonly"/>
                    </th:block>
                    <th:block th:if="${board.hierarchyNum == 0}">
                        <input class="input_css" type="text" name="boardTitle" th:value="${board.boardTitle}" readonly="readonly"/>
                    </th:block>
                </div>
                <hr>
                <div class="boardWrite">
                    <strong>작성자</strong>
                    <br>
                    <input class="input_css" type="text" id="boardWriter" name="boardWriter" th:value="${authInfo.emp_name}" readonly="readonly" />
                </div>
                <hr>
                <div class="boardDivision">
                    <strong>작성할 게시판</strong>
                    <br>
                    <th:block th:if="${!board.boardDivision.equals('사내시스템/F&Q')}">
                        <select id="boardDivision" name="boardDivision" style="font-weight: bold">
                            <th:block th:if="${authInfo.grade_num >= 3 or authInfo.dept_num == 40}">
                                <option value="회사뉴스및공지">회사뉴스 및 공지</option>
                            </th:block>
                            <option value="자유게시판">자유게시판</option>
                            <option value="사내시스템/F&Q">사내시스템 / FAQ</option>
                        </select>
                        <th:block th:if="${authInfo.grade_num >= 3 or authInfo.dept_num == 40}">
                            <label>
                                <input class="checkbox" type="checkbox" name="boardImportant" id="boardImportant">
                                <strong class="checkbox-text">회사뉴스 및 공지 중요!</strong>
                            </label>
                        </th:block>
                    </th:block>
                    <th:block th:if="${board.boardDivision.equals('사내시스템/F&Q')}">
                        <select name="boardDivision" style="font-weight: bold">
                            <option value="사내시스템/F&Q">사내시스템 / FAQ</option>
                        </select>
                    </th:block>
                </div>
                <hr>
                <div class="boardContent">
                    <strong>내용</strong>
                    <br>
                    <label>
                        <textarea class="textarea" style="resize: none;" id="boardContent" name="boardContent"  cols="97" rows="25" th:text="${board.boardContent}"></textarea>
                    </label>
                </div>
            </div>
            <div class="buttons" th:if="${authInfo != null}">
                <button type="button" onclick="location.href='javascript:history.back();' ">뒤로가기</button>
                <button type="submit" id="submit2">글 수정</button>
            </div>
        </div>
</form>
</div>
<script src="https://kit.fontawesome.com/2d323a629b.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/js/boardCheck.js"></script>
<script src="/js/checkBoxShow.js"></script>
</body>
    </th:block>
</th:block>
</html>