<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인 게시판</title>
</head>
<body>
<form action="#">
    <input type="text" name="search" />
    <button type="submit">검색</button>
</form>

<table border="1" >
    공지사항
    <a th:href = "@{/board/noticeList}">+</a>
    <thead>
        <td>글 번호</td>
        <td>제목</td>
        <td>작성자</td>
        <td>등록날짜</td>
        <td>조회수</td>
    </thead>
    <tbody th:each="board : ${boardList}">
    <div th:if="${board.boardDivision == '공지사항'}">
            <td th:text="${board.boardNum}"></td>
            <td><a th:href = "@{/board/boardView/{boardNum}(boardNum=${board.boardNum})}" th:text="${board.boardTitle}"></a></td>
            <td th:text="${board.boardWriter}"></td>
            <td th:text="${board.boardRegDate}"></td>
            <td th:text="${board.boardHit}"></td>
        </tr>
    </div>
    </tbody>
</table>
<a th:href = "@{/board/boardwriteform}">글쓰기</a></td><br/>

<table border="1" >
    자유게시판
    <a th:href = "@{/board/forumList}">+</a>
    <thead>
    <td>글 번호</td>
    <td>제목</td>
    <td>작성자</td>
    <td>등록날짜</td>
    <td>조회수</td>
    </thead>
    <tbody th:each="board : ${boardList}">
    <div th:if="${board.boardDivision == '자유게시판'}">
        <td th:text="${board.boardNum}"></td>
        <td><a th:href = "@{/board/boardView/{boardNum}(boardNum=${board.boardNum})}" th:text="${board.boardTitle}"></a></td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${board.boardRegDate}"></td>
        <td th:text="${board.boardHit}"></td>
        </tr>
    </div>
    </tbody>
</table>
<a th:href = "@{/board/boardwriteform}">글쓰기</a></td><br/>

<table border="1" >
    Q&A
    <a th:href = "@{/board/qaList}">+</a>
    <thead>
    <td>글 번호</td>
    <td>제목</td>
    <td>작성자</td>
    <td>등록날짜</td>
    <td>조회수</td>
    </thead>
    <tbody th:each="board : ${boardList}">
    <div th:if="${board.boardDivision == 'Q&A'}">
        <td th:text="${board.boardNum}"></td>
        <td><a th:href = "@{/board/boardView/{boardNum}(boardNum=${board.boardNum})}" th:text="${board.boardTitle}"></a></td>
        <td th:text="${board.boardWriter}"></td>
        <td th:text="${board.boardRegDate}"></td>
        <td th:text="${board.boardHit}"></td>
        </tr>
    </div>
    </tbody>
</table>
<a th:href = "@{/board/boardwriteform}">글쓰기</a></td>
</body>
</html>