<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>reply</title >
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/boardwrite.css">
</head>
<body>
<div class="write_wrap">
    <form th:action="@{/board/replywrite/{boardNum}(boardNum=${board.boardNum})}" method="post">
        <input type="hidden" id="boardNum" name="boardNum" th:value="${board.boardNum}" />
        <div>
            <div>
                <div class="boardTitle">
                    <strong>제목</strong>
                    <br>
                    <input class="input_css" type="text" id="boardTitle" name="boardTitle" th:value="'re : ' + ${board.boardTitle}" readonly="readonly"/>
                </div>
                <hr>
                <div class="boardWrite">
                    <strong>작성자</strong>
                    <br>
                    <label>
                        <input class="input_css" type="text" name="boardWriter" th:value="${emp.emp_name}" readonly="readonly"/>
                    </label>
                </div>
                <hr>
                <div class="boardDivision">
                    <strong>작성할 게시판</strong>
                    <br>
                    <select id="boardDivision" name="boardDivision" style="font-weight: bold">
                        <option value="사내시스템/F&Q">사내시스템 / FAQ</option>
                    </select>
                </div>
                <hr>
                <div class="boardContent">
                    <strong>내용</strong>
                    <br>
                        <label>
                            <textarea class="textarea" style="resize: none;" id="boardContent" name="boardContent"  cols="97" rows="25"></textarea>
                        </label>
                </div>
            </div>
            <div class="buttons">
                <button type="button" onclick="location.href='javascript:history.back();' ">뒤로가기</button>
                <button type="submit" id="submit3">글 등록</button>
            </div>
        </div>
    </form>
</div>
<script src="https://kit.fontawesome.com/2d323a629b.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/js/boardCheck.js"></script>
</body>
    </th:block>
</th:block>
</html>