<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/table.css">
</head>
<body>
<div class="adress-dept">
    <a th:href="@{/emp/adress}" id="all_emp_adress">전체</a>
    <a th:href="@{/emp/adressDept/{dept_num}(dept_num=10)}">회계</a>
    <a th:href="@{/emp/adressDept/{dept_num}(dept_num=30)}">개발</a>
    <a th:href="@{/emp/adressDept/{dept_num}(dept_num=40)}">인사</a>
    <a th:href="@{/emp/adressDept/{dept_num}(dept_num=50)}">경영</a>
    <a th:href="@{/emp/adressDept/{dept_num}(dept_num=60)}">물류</a>
    <a th:href="@{/emp/adressDept/{dept_num}(dept_num=20)}">영업</a>
</div>
<table border="1" class="table1">
    <tr>
        <th>이름</th>
        <th>직책</th>
        <th>부서</th>
        <th>이메일</th>
    </tr>
    <tr th:each="obj : ${deptPage.deptAdressDtos}">
        <td th:text="${obj.empName}"></td>
        <td th:text="${obj.gradeName}"></td>
        <td th:text="${obj.deptName}"></td>
        <td th:text="${obj.empEmail}"></td>
    </tr>

</table>
<div th:if="${deptPage.hasDeptAdressDtos()}">
    <tr>
        <td colspan="10">
               <span th:if="${deptPage.currentPage > 1}">
                   <a th:href="@{/emp/adressDept/{dept_num}(dept_num=${dept_num}, pageNo=${deptPage.currentPage - 1})}">[이전]</a>
               </span>
            <span th:each="pNo: ${#numbers.sequence(deptPage.startPage, deptPage.endPage)}">
                   <span th:if="${pNo == deptPage.currentPage}">
                       <strong th:text="${pNo}"></strong>
                   </span>
                   <span th:unless="${pNo == deptPage.currentPage}">
                       <a th:href="@{/emp/adressDept/{dept_num}(dept_num=${dept_num}, pageNo=${pNo})}">[[${pNo}]]</a>
                   </span>
               </span>
            <span th:if="${deptPage.currentPage < deptPage.totalPages}">
                   <a th:href="@{/emp/adressDept/{dept_num}(dept_num=${dept_num}, pageNo=${deptPage.currentPage + 1})}">[다음]</a>
               </span>
        </td>
    </tr>
</div>
<script src="/js/getAdress.js"></script>
</body>
</html>