<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/emp/loginSucess}" method="post">
    <p>
        <label for="emp_email">이메일</label>
        <input type="text" id="emp_email" name="emp_email">@ownote.com</input>
    </P>
    <p>
        <label for="emp_password">비밀번호</label>
        <input type="password" id="emp_password" name="emp_password"/>
    </P>
    <input type="submit" value="로그인">
    <input type="submit"  value="취소">
</form>
</body>
</html>