<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:each="myPage : ${myPage}">
    <table class="table2">
        <thead>
        <tr>
            <th scope="cols">타이틀</th>
            <th scope="cols">내용</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">사원번호</th>
            <td th:text="${myPage.emp_num}"></td>
        </tr>
        <tr>
            <th scope="row">이름</th>
            <td th:text="${myPage.emp_name}"></td>
        </tr>
        <tr>
            <th scope="row">이메일</th>
            <td th:text="${myPage.emp_email}"></td>
        </tr>
        <tr>
            <th scope="row">생년월일</th>
            <td th:text="${myPage.emp_birth}"></td>
        </tr>
        <tr>
            <th scope="row">전화번호</th>
            <td th:text="${myPage.emp_phone}"></td>
        </tr>
        <tr>
            <th scope="row">입사일</th>
            <td th:text="${myPage.emp_date}"></td>
        </tr>
        <!--<tr>
            <th scope="row">직책</th>
            <td th:text="${myPage.grade_name}"></td>
        </tr>
        <tr>
            <th scope="row">부서</th>
            <td th:text="${myPage.dept_name}"></td>
        </tr>-->
    </tbody>
</table>
</div>
</body>
</html>