<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/signUp.css">
</head>
<body>
<div class="wrapper">
    <div class="sign-up-container">

        <form th:action="@{/ownote}" method="post">
            <h1>사원등록</h1>

            <label for="emp_password">비밀번호:</label><br>
            <input id="emp_password" type="password" name="emp_password" placeholder="전화번호 뒷 4자리가 입력 됩니다." readonly/>
            <div id="textError1"></div>

            <label for="emp_birth">생년 월일:</label><br>
            <input type="text" id="emp_birth" name="emp_birth" placeholder="-를 제외한 숫자만 입력해 주세요."/>
            <div id="textError2"></div>

            <label for="emp_name">사원 이름:</label><br>
            <input type="text" id="emp_name" name="emp_name"/>
            <div id="textError3"></div>

            <label for="emp_email">이메일:</label><br>
            <input type="text" id="emp_email" name="emp_email" placeholder="@전까지 영문으로 입력해 주세요."/>@ownote.com
            <input type="button" value="중복확인" onclick="check_emp_email()">
            <span id="emp_email_error"></span>
            <div id="textError4"></div>
            <div id="result"></div>

            <label for="emp_phone">전화 번호:</label><br>
            <input type="text" id="emp_phone" name="emp_phone" placeholder="-를 제외한 숫자만 입력해 주세요."/>
            <div id="textError5"></div>

            <label for="grade_num">직책</label>
            <select name="grade_num" id="grade_num">
                <option value="0">사원</option>
                <option value="1">주임</option>
                <option value="2">대리</option>
                <option value="3">팀장</option>
                <option value="4">과장</option>
                <option value="5">이사</option>
                <option value="6">전무</option>
            </select> <br>

            <label for="dept_num">부서</label>
            <select name="dept_num" id="dept_num">
                <option value="10">회계</option>
                <option value="20">영업</option>
                <option value="30">개발</option>
                <option value="40">인사</option>
                <option value="50">경영</option>
                <option value="60">물류</option>

            </select> <br>

    <input type="submit" value="등록하기" id="submit_emp">

    </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/check.js"></script>
<script src="/js/checkEmail.js"></script>
</body>
    </th:block>
</th:block>
</html>