.selectBox {
    position: relative;
    width: 350px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid black;
}
.selectBox.label {
    display: flex;
    align-items: center;
    justify-content: center; /* 가운데 정렬을 위해 추가 */
    width: inherit;
    height: inherit;
    border: 0 none;
    outline: 0 none;
    padding-left: 15px;
    background: transparent;
    cursor: pointer;

}
.selectBox .select {
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 0 5px;
    position: relative;
    z-index: 3; // select가 위로 올라와야 함
}

.selectBox .optionItem {
    border-bottom: 1px dashed rgb(170, 72, 72);
    padding: 5px 15px 5px;
    transition: .1s;
}
input:focus, select:focus, option:focus, textarea:focus, button:focus{
    outline: none;
}
/*검은선 없애기*/
.selectBox .icoArrow {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 35px;
    height: inherit;
    border-left: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectBox .icoArrow img {
    width: 50%;
    transition: .3s; // 부드럽게 회전
}

.selectBox .select:focus + .icoArrow img {
    transform: rotate(180deg);
}