/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*html{*/
/*    font-size: 15px;*/
/*}*/

a {
    text-decoration: none;
    color: inherit;
}
.page {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: white;
    background-color: #007BFF;
    border-radius:10px;

}

.select {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: blue;
    background-color:white;
    border-radius:10px;
}

.write{
    width: 700px;
    margin: 100px auto;

}
.str {
    font-size: 1.5rem;
    margin: 10px;
}
.board{
    width: 1000px;
    margin: 100px auto;
}
.button {

    margin: 10px;
    display: inline-block;
    padding: 10px 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: #61adf6;
}

.b{
    margin: 10px;
}
.title_board{
    margin-bottom: 30px;
}
.strong {
    font-size: 1.5rem;
    margin: 10px;
}
.title_board p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.buttons {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.buttons a{
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1.4rem;

    background: black;
    color: white;
}
.b{
    display: inline-block;
    min-width: 20px;
    padding: 10px;
    border: 1px solid #61adf6;
    border-radius: 5px;
    font-size: 1rem;

    background: #61adf6;
    color: black;
}
.board_list {
    width: 100%;
    border-top: 2px solid #61adf6;
    border-bottom: 2px solid #61adf6;

}

.board_list > table > thead {
    border-bottom: 10px solid #999999;
}

table {
    width: 100%;
}

th, td {
    padding: 8px; /* 셀 안의 여백 설정 */
}

th:nth-child(1),
td:nth-child(1) {
    text-align: center;
    width: 70px;
}

th:nth-child(2),
td:nth-child(2) {
    text-align: center;
    width: 90px;
}

th:nth-child(3),
td:nth-child(3) {
    text-align: center;
    width: 200px;
}
th:nth-child(4),
td:nth-child(4) {
    width: 100px;
    text-align: center;

}

th:nth-child(5),
td:nth-child(5) {
    width: 100px;
    text-align: center;

}
th:nth-child(6),
td:nth-child(6) {
    text-align: center;
    width: 110px;

}
th:nth-child(7),
td:nth-child(7) {
    text-align: center;
    width: 100px;

}
th:nth-child(8),
td:nth-child(8) {
    text-align: center;
    width: 100px;

}

tfoot a {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: white;
    background-color: #61adf6;
    border-radius:10px;

}
tfoot strong {
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    padding: 5px 8px;
    border: 1px solid #ccc;
    color: black;
    background-color:white;
    border-radius:10px;
}


