/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*html{*/
/*    font-size: 15px;*/
/*}*/

a {
    text-decoration: none;
    color: inherit;
}

.write{
    width: 430px;
    margin: 100px auto;

}
.board{
    width: 1000px;
    margin: 100px auto;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: black;
    background-color: #61adf6;
}
.sbutton{
    margin: 10px;
}


.title_board{
    margin-bottom: 30px;
}
.title_board strong {
    font-size: 3rem;
}
.title_board p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.buttons {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.buttons a{
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1.4rem;

    background: black;
    color: white;
}

.board_list {
    width: 100%;
    border-top: 2px solid #61adf6;
    border-bottom: 2px solid #61adf6;

}

.board_list > table > thead {
    border-bottom: 10px solid #999999;
}

table {
    width: 100%;
}

th, td {
    padding: 8px; /* 셀 안의 여백 설정 */
}

th:nth-child(1),
td:nth-child(1) {
    text-align: center;
    width: 5px;
}

th:nth-child(2),
td:nth-child(2) {
    text-align: center;
    width: 80px;
}

th:nth-child(3),
td:nth-child(3) {
    text-align: center;
    width: 250px;
}

