.container {
    display: flex;
    justify-content: center; /* 가운데 정렬 (센터 정렬이 아님) */
}
body .container .button-effect {
    padding: 30px 0px;
    text-align: center;

}
.button-effect:nth-child(2){
    margin-left: 500px;
}
body .container .button-effect h2 {
    font-family: "Droid Serif", serif;
    font-size: 20px;
    margin-bottom: 40px;
}
body .container .button-effect a {
    margin-right: 17px;
    background-color: #61adf6;
}

/* button styles !!!YOU NEED THEM 
!!!ALSO YOU NEED TO ADD FONTWESOME */
.effect {
    font-weight: bold;
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #000000;
    text-transform: capitalize;
    /* background-color: - add your own background-color */
    /* put your font-family */
    font-size: 18px;
    padding: 20px 0px;
    width: 150px;
    border-radius: 6px;
    overflow: hidden;
}

/* effect-1 styles */
.effect.effect-1 {
    transition: all 0.2s linear 0s;
}
.effect.effect-1:before {
    content: "▶";

    font-size: 15px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
    opacity: 0;
    height: 100%;
    width: 40px;
    transition: all 0.2s linear 0s;
}
.effect.effect-1:hover {
    text-indent: -20px;
}
.effect.effect-1:hover:before {
    opacity: 1;
    text-indent: 0px;
}

