
a {
    text-decoration: none;
    color: inherit;
}

.board_wrap{
    width: 1000px;
    margin: 100px auto;
}
.title_board{
    margin-bottom: 30px;
}
.title_board strong {
    font-size: 3rem;
}
.title_board p {
    margin-top: 5px;
    font-size: 1.4rem;
}

.buttons {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
}

.buttons a{
    display: inline-block;
    min-width: 80px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 1.4rem;

    background: black;
    color: white;
}

.board_list {
    width: 100%;
    border-top: 2px solid #61adf6;
    border-bottom: 2px solid #61adf6;

}

.board_list > table > thead {
    border-bottom: 10px solid #999999;
}

table {
    width: 100%;
}

th, td {
    padding: 8px; /* 셀 안의 여백 설정 */
}

th:nth-child(1),
td:nth-child(1) {
    text-align: center;
    width: 50px;
}

th:nth-child(2),
td:nth-child(2) {
    text-align: center;
    width: 130px;
}

th:nth-child(3),
td:nth-child(3) {
    width: 200px;
}

th:nth-child(4),
td:nth-child(4) {
    width: 350px;
}

th:nth-child(5),
td:nth-child(5) {
    width: 200px;
}

th:nth-child(6),
td:nth-child(6) {
    width: 70px;
}

tfoot {
    background-color: #f2f2f2; /* 풋터 배경색 설정 */
    text-align: center;
}

tbody tr:hover {
    background-color: #61adf6; /* 호버(마우스를 올렸을 때) 상태 배경색 설정 */
}

.atag {
    margin-left: 900px;
    display: flex;
}

.atag a {
     text-decoration: none;
     color: white;
     background-color: #61adf6;
     padding: 10px 18px;
     border-radius: 15px;
}

.atag a:hover {
    box-shadow: 100px 0 0 0 rgba(0,0,0,0.5) inset;
}