body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    color: inherit;   	   
    text-decoration: none;    
  }

  .side-bar > ul ul {
    display: none;
  }

  body {
    height: 5000px;
    background-color: #444;
  }
 
  :root {
    --side-bar-width: 270px;
    --side-bar-height: 90vh;
  }

  .side-bar {
    position: fixed;    
    background-color: black;
    width: var(--side-bar-width);
    min-height: var(--side-bar-height); 
    margin-top: calc((100vh - var(--side-bar-height)) / 2);
  }

  .side-bar ul > li > a {
    display: block;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
  }

  .side-bar > ul > li {
    position: relative;
  }

  .side-bar ul > li:hover > a {
    background-color: #555;
    border-bottom: 1px solid #999;
  }

  .side-bar > ul > li:hover > ul {
    display: block;
    position: absolute;
    background-color: #888;
    top: 0;
    left: 100%;   
    width: 100%;    
  }
  
  .side-bar {
    border-radius: 20px;
    transform: translate(calc(var(--side-bar-width) * -0.8), 0);  /* X축 이동, Y축 고정 */
    transition: .5s;
  }

  
/* 마우스 인식 시 원래의 위치로 이동 */
.side-bar:hover {
    transform: translate(-20px, 0);   /* 둥근 모서리의 너비만큼 X축 이동, Y축 고정 */
  }
