*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 15px;
}

body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

#nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #61adf6;
  padding: 30px 15px;
}

.navbar-menu {
  display: flex;
}

.navbar-menu li {
  padding: 8px 12px;
}

  a {
    color: inherit;   	   
    text-decoration: none;    
  }

  .side-bar > ul ul {
    display: none;
  }

  body {
    height: 5000px;
    /*background-color: #f6ede8;*/
    background-color: #fafaf4;
  }
 
  :root {
    --side-bar-width: 270px;
    --side-bar-height: 90vh;
  }

  .side-bar {
    position: fixed;    
    background-color: #61adf6;
    width: var(--side-bar-width);
    min-height: var(--side-bar-height); 
    margin-top: calc((100vh - var(--side-bar-height)) / 2);
  }

  .side-bar ul > li > a {
    display: block;
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
  }

  .side-bar > ul > li {
    position: relative;
  }

  .side-bar ul > li:hover > a {
    background-color: #61adf6;
    border-bottom: 1px solid #999;
  }

  .side-bar > ul > li:hover > ul {
    display: block;
    position: absolute;
    background-color: #61adf6;
    top: 0;
    left: 100%;   
    width: 100%;    
  }
  
  .side-bar {
    border-radius: 20px;
    transform: translate(calc(var(--side-bar-width) * -0.8), 0);  /* X축 이동, Y축 고정 */
    transition: .5s;
  }

  
/* 마우스 인식 시 원래의 위치로 이동 */
.side-bar:hover {
    transform: translate(-20px, 0);   /* 둥근 모서리의 너비만큼 X축 이동, Y축 고정 */
  }

.contentContainer {
  width: 1000px;
  margin: 100px auto;
}

.board_wrap{
    width: 1000px;
    margin: 100px auto;
}
.title {
    width: 100%
    margin: 8px 8px 8px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.board-list-atag {
    text-align: right;
    margin-right: 8px;
}*/


.board-list {
    width: 100%;
    border-top: 2px solid #61adf6;
    border-bottom: 2px solid #61adf6;
}

.board-list > table > thead {
    border-bottom: 15px solid #999999;
}

table {
    width: 100%;
}

th, td {
    padding: 8px; /* 셀 안의 여백 설정 */
}

th:nth-child(1),
td:nth-child(1) {
    text-align: center;
    width: 50px;
}

th:nth-child(2),
td:nth-child(2) {
    text-align: center;
    width: 130px;
}

th:nth-child(3),
td:nth-child(3) {
    text-align: center;
    width: 250px;
}

th:nth-child(4),
td:nth-child(4) {
    text-align: center;
}

th:nth-child(5),
td:nth-child(5) {
    text-align: center;
}

th:nth-child(6),
td:nth-child(6) {
    text-align: center;
}

tfoot {
    background-color: #f2f2f2; /* 풋터 배경색 설정 */
    text-align: center;
}

tbody tr:hover {
    background-color: #61adf6; /* 호버(마우스를 올렸을 때) 상태 배경색 설정 */
}
