<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <aside class="side-bar">
    <section class="side-bar__icon-box">
        <section class="side-bar__icon-1">
          <i class="fa-duotone fa-toggle-off"></i>
          <!-- <div></div>
          <div></div>
          <div></div> -->
        </section>
      </section>
    <ul>
        <li>
          <a th:href="@{#}"></i>인사</a>
          <ul>
            <li><a th:href="@{#}">text1</a></li>
            <li><a th:href="@{#}">text2</a></li>
            <li><a th:href="@{#}">text3</a></li>
            <li><a th:href="@{#}">text4</a></li>
          </ul>
        </li>
        <li>
          <a th:href="@{#}">menu2</a>
          <ul>
            <li><a th:href="@{#}">text1</a></li>
            <li><a th:href="@{#}">text2</a></li>
            <li><a th:href="@{#}">text3</a></li>
            <li><a th:href="@{#}">text4</a></li>
          </ul>
        </li>
        <li>
          <a th:href="@{#}">게시판</a>
          <ul>
            <li><a th:href="@{#}">text1</a></li>
            <li><a th:href="@{#}">text2</a></li>
            <li><a th:href="@{#}">text3</a></li>
            <li><a th:href="@{#}">text4</a></li>
          </ul>
        </li>
        <li>
          <a th:href="@{#}">자유</a>
          <ul>
            <li><a th:href="@{#}">text1</a></li>
            <li><a th:href="@{#}">text2</a></li>
            <li><a th:href="@{#}">text3</a></li>
            <li><a th:href="@{#}">text4</a></li>
          </ul>
        </li>
      </ul>
  </aside>
  <script src="https://kit.fontawesome.com/2d323a629b.js" crossorigin="anonymous"></script>
</body>
</html>
