<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link href="/css/club.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<header>
    <nav id="nav2">
        <h1>Ownote</h1>
        <ul class="navbar-menu">
            <li> <a th:href="@{emp/logIn}" >로그인</a> </li>
            <li> <a href="">로그아웃</a> </li>
        </ul>
    </nav>
</header>
<aside class="side-bar">
    <ul>
        <li>
            <a th:href="@{#}"></i>인사</a>
            <ul>
                <li><a th:href="@{/emp/signUp}">사원등록</a></li>
                <li><a th:href="@{#}">text2</a></li>
                <li><a th:href="@{#}">text3</a></li>
                <li><a th:href="@{#}">text4</a></li>
            </ul>
        </li>
        <li>
            <a th:href="@{#}">연차</a>
            <ul>
                <li><a th:href="@{#}">연차 신청 </a></li>
                <li><a th:href="@{#}">연차 확인</a></li>
                <li><a th:href="@{#}">연차 승인</a></li>
                <li><a th:href="@{#}">연차 수량</a></li>
            </ul>
        </li>
        <li>
            <a th:href="@{#}">게시판</a>
            <ul>
                <li><a th:href="@{#}">text1</a></li>
                <li><a th:href="@{#}">text2</a></li>
                <li><a th:href="@{#}">text3</a></li>
                <li><a th:href="@{#}">text4</a></li>
            </ul>
        </li>
        <li>
            <a th:href="@{#}">동아리</a>
            <ul>
                <li><a th:href="@{/clubinfo/list}">동아리 소개</a></li>
                <li><a th:href="@{/club/list}">홍보 게시판</a></li>
                <li><a th:href="@{#}">text3</a></li>
                <li><a th:href="@{#}">text4</a></li>
            </ul>
        </li>
        <li><a th:href="@{/emp/adress}">주소록</a></li>
    </ul>
</aside>
<script src="https://kit.fontawesome.com/2d323a629b.js" crossorigin="anonymous"></script>
<div class="board_wrap">
    <div class="title-text">
        <div class="title_board">
            <strong>동아리</strong> <br>
            <p>자신의 동아리를 자랑해보세요!</p>
        </div>
    </div>
    <div class="board_list">
    <table>
        <thead>
        <tr>
            <th>No</th>
            <th>작성자</th>
            <th>제목</th>
            <th>개설일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dto : ${listPage.clubBoardDtos}">
            <td>[[${dto.clubboard_id}]]</td>
            <td>[[${dto.clubboard_emp_name}]] ( [[${dto.clubboard_dept_name}]] )</td>
            <td><a th:href="@{'/club/view?clubboard_id=' + ${dto.clubboard_id}}">[[${dto.clubboard_title}]]</a></td>
            <td>[[${#dates.format(dto.clubboard_regdate, 'yyyy-MM-dd HH:mm:ss')}]]</td>
        </tr>
        </tbody>

        <tfoot>
<!--            <div th:if="${listPage.hasClubBoardDtos()}">-->
<!--                <tr>-->
<!--                    <td colspan="10">-->
<!--            <span th:if="${listPage.startPage > 1}">-->
<!--                <a th:href="@{'/club/list?pageNo=' + (${listPage.startPage - 1})}">[이전]</a>-->
<!--            </span>-->
<!--                        <span th:each="pNo : ${#numbers.sequence(listPage.startPage, listPage.endPage)}">-->
<!--                <span th:if="${pNo == listPage.currentPage}">-->
<!--                    <strong th:text="${pNo}"></strong>-->
<!--                </span>-->
<!--                <span th:unless="${pNo == listPage.currentPage}">-->
<!--                    <a href="/club/list?pageNo=${pNo}"></a>-->
<!--                </span>-->
<!--            </span>-->
<!--                        <span th:if="${listPage.endPage < listPage.totalPages}">-->
<!--                <a href="/club/list?pageNo=${listPage.endPage + 1}">[다음]</a>-->
<!--            </span>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </div>-->
            <div th:if="${listPage.hasClubBoardDtos()}">
                <tr>
                    <td colspan="10">
            <span th:if="${listPage.currentPage > 1}">
                <a th:href="@{'/club/list?pageNo=' + ${listPage.currentPage - 1}}">[이전]</a>
            </span>
                        <span th:each="pNo : ${#numbers.sequence(listPage.startPage, listPage.endPage)}">
                <span th:if="${pNo == listPage.currentPage}">
                    <strong th:text="${pNo}"></strong>
                </span>
                <span th:unless="${pNo == listPage.currentPage}">
                    <a th:href="@{'/club/list?pageNo=' + ${pNo}}">[[${pNo}]]</a>
                </span>
            </span>
                        <span th:if="${listPage.currentPage < listPage.totalPages}">
                <a th:href="@{'/club/list?pageNo=' + ${listPage.currentPage + 1}}">[다음]</a>
            </span>
                    </td>
                </tr>
            </div>
        </tfoot>
    </table>
    </div>

    <div class="buttons">
        <a class="button-writego" th:href="@{'/club/write'}">게시글쓰기</a>
    </div>
</div>
</body>
</html>