<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/layout :: setContent(~{this::content})}">
    <th:block th:fragment="content">
<head>
    <meta charset="UTF-8">
    <title>ANnualData</title>
    <link href="/css/annualDatacheckTable.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
<input type="hidden" id= "${#httpSession.getAttribute('authInfo').emp_id}" name="empId">

<div class="write">
    <div class="ss">
    <Strong class="strong">연차 정보</Strong></br>
    </div>
<table border="1">

    <tr><th>기존 연차</th><th>추가된 연차</th><th>사용된 연차</th><th>잔여 연차</th></tr>
    <tr th:each="obj : ${list}">
        <td th:text="${obj.anndata_date}"></td>
        <td th:text="${obj.anndata_add}"></td>
        <td th:text="${obj.anndata_used}"></td>
        <td th:text="${obj.anndata_extra}"></td>

    </tr>
</table>
</div>
<hr>

<div class="board">
    <div class="ss">
    <strong class="strong"> 연차 신청 내역</strong>
    </div>
    <div class="board_list">

<table>
    <thead>
    <tr th:if="${annualPage.hasNoAnnualDto()}">
        <td colspan="7">연차 신청이 없습니다.</td>
    </tr>
<!--<input type="hidden" id="${authInfo.emp_id}" name="emp_id">-->
<!--    -->
    <tr><th>연차 사유</th><th>연차 시작일</th><th>연차 종료일</th><th>연차 사용 수량</th>
        <th>연차 종류</th><th>진행 상황</th><th>수정</th></tr>
    </thead>
    <tbody>
    <tr th:each="obj1 : ${list1}">
<!--        <td th:if="{${obj1.anncheck_id ==1} th:href="@{'/annModify/{annual_id}'+${obj1.annual_id}}">-->
<!--                th:text="${obj1.annual_content}"></td>-->
        <td>
            <!-- anncheck_id가 1인 경우에만 수정 링크 생성 -->
            <a th:if="${obj1.anncheck_id == 1}" th:href="@{'/annual/annModify/' + ${obj1.annual_id}}">
                <span th:text="${obj1.annual_content}"></span>
            </a>
            <!-- anncheck_id가 1이 아닌 경우에는 텍스트만 표시 -->
            <span th:unless="${obj1.anncheck_id == 1}" th:text="${obj1.annual_content}"></span>
        </td>

        <td th:text="${obj1.annual_startdate}"></td>
        <td th:text="${obj1.annual_enddate}"></td>
        <td th:text="${obj1.anninfo_date}"></td>
        <td th:text="${obj1.anninfo_name}"></td>
        <td th:text="${obj1.anncheck_pass }"> </td>
        <td>
            <a th:if="${obj1.anncheck_id == 1}" th:href="@{'/delete/' + ${obj1.annual_id}}">삭제</a>
        </td>
    </tr>
    </tbody>
        <!--        <td th:text=""></td>-->
<!--          <td th:text="${obj1.anncheck_id}"></td>-->
    <tfoot>
        <div th:if="${annualPage.hasAnnualDto()}">
            <tr>
                <td colspan="10">
            <span th:if="${annualPage.currentPage > 1}">
                <a th:href="@{'/annual/anndata?pageNo=' + ${annualPage.currentPage - 1}}" class="page">[이전]</a>
            </span>
                    <span th:each="pNo : ${#numbers.sequence(annualPage.startPage, annualPage.endPage)}">
                <span th:if="${pNo == annualPage.currentPage}">
                    <strong th:text="${pNo}" class="select"></strong>
                </span>
                <span th:unless="${pNo == annualPage.currentPage}">
                    <a th:href="@{'/annual/anndata?pageNo=' + ${pNo}}" class="page">[[${pNo}]]</a>
                </span>
            </span>
                    <span th:if="${annualPage.currentPage < annualPage.totalPages}">
                <a th:href="@{'/annual/anndata?pageNo=' + ${annualPage.currentPage + 1}}" class="page">[다음]</a>
            </span>
                </td>
            </tr>
        </div>



    </tfoot>
</table>
</div>
</div>
</body>
    </th:block>
</th:block>
</html>