<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="modify">
<form method="post" action="/annualModify" th:object="${annual}" id="annual">

    <table>
        <form method="post" action="/edit" th:object="${annual}">
            <input type="hidden" name="annual_id" th:value="*{annual_id}" />
            <input type="hidden" name="anncheck_id" th:value="*{anncheck_id}" />
            <input type="hidden" name="emp_id" th:value="*{emp_id}" />


            <tr><td><label for="annual_content">연차 신청 사유</label></td>
                <td><input type="text" name="annual_content"  id="annual_content" th:value="*{annual_content}" /></td></tr>
            <tr><td><label for="annual_startdate">연차 시작 시간</label></td>
                <td><input type="date" name="annual_startdate"  id="annual_startdate" th:value="*{annual_startdate}" /></td></tr>
            <tr><td><label for="annual_enddate">연차 종료 시간</label></td>
                <td><input type="date" name="annual_enddate"  id="annual_enddate" th:value="*{annual_enddate}" /></td></tr>
            <tr><td><label for="anninfo_code">연차 종류</label></td>
                <td>            <select name="anninfo_code" id="anninfo_code" th:value="*{anninfo_code}" >
                    <option value="0">연차 종류를 선택하세요</option>
                    <option value="1">연차</option>
                    <option value="2">반차</option>
                    <option value="3">반반차</option>
                    <option value="4">공가</option>
                    <option value="5">병가</option>
                    <option value="6">출산휴가/배우자출산휴가</option>
                </select></td>
            <tr><td></td><td><input type="submit" /></td></tr>
        </form>
    </table>




</form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/annualDateFix.js"></script>
<script src="/js/annModify.js"></script>

</body>
</html>