<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
수정 가능한 페이지
<div id="output_anninfo">

<table>
    <form method="post" action="/annualModify" th:object="${annual}" id="annual">
        <tr>
            <td><label for="annual_content">연차 신청 사유</label></td>
            <td><input type="text" name="annual_content" id="annual_content" th:value="*{annual_content}" readonly /></td>
        </tr>
        <tr>
            <td><label for="annual_startdate">연차 시작 시간</label></td>
            <td><input type="date" name="annual_startdate" id="annual_startdate" th:value="*{annual_startdate}" readonly /></td>
        </tr>
        <tr>
            <td><label for="annual_enddate">연차 종료 시간</label></td>
            <td><input type="date" name="annual_enddate" id="annual_enddate" th:value="*{annual_enddate}" readonly /></td>
        </tr>
    <tr>
            <td><label for="anncheck_id" id="anncheck_id">연차 승인</label></td>
            <td>
                <!-- 연차 승인 체크박스 (옵션 1) -->
                <input type="checkbox" name="anncheck_id" value="1" id="approve_radio" onclick="limitCheckboxSelection(this)"> 승인
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <!-- 연차 승인 체크박스 (옵션 2) -->
                <input type="checkbox" name="anncheck_id" value="2" id="reject_radio" onclick="limitCheckboxSelection(this)"> 반려
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <!-- 제출 버튼 -->
                <input type="submit" value="제출">
            </td>
        </tr>
    </form>

</table>




</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/output_anninfo.js"></script>
<script src="/js/annualDateFix.js"></script>
</body>
</html>