<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.ownote.club.clubInfo.dao.ClubInfoMapper">
     <select id="countClub" resultType="Integer">
        SELECT count(*) FROM club
     </select>

    <select id="selectAllClub" resultType="com.project.ownote.club.clubInfo.dto.ClubDto">
        SELECT * FROM club ORDER BY club_id desc
    </select>

    <select id="clubInfoListPage" resultType="com.project.ownote.club.clubInfo.dto.ClubDto">
        SELECT * FROM club order by club_id desc LIMIT #{startRow}, #{size} where dept_num = #{dept_num}
    </select>

    <insert id="insertClub" parameterType="com.project.ownote.club.clubInfo.dto.ClubDto">
        INSERT INTO club (club_emp_name, club_name, clubcategory_name, club_sub, club_regdate)
        VALUES (#{club_emp_name}, #{club_name}, #{clubcategory_name}, #{club_sub}, now())
    </insert>

    <select id="selectOneClub" resultType="com.project.ownote.club.clubInfo.dto.ClubDto">
            select * from club where club_id = #{club_id}
    </select>


    <update id="modifyClub" parameterType="com.project.ownote.club.clubInfo.dto.ClubDto">
        update club
        set club_name = #{club_name}, clubcategory_name = #{clubcategory_name},
            club_sub = #{club_sub}, clubboard_regdate = now()
        where club_id = #{club_id}
    </update>

    <delete id="deleteClub" parameterType="int">
            DELETE FROM club WHERE club_id = #{club_id}
    </delete>


</mapper>
